<nav class="bg-gray-800 text-white grid grid-cols-3 text-center">
  <a
    routerLink="/detection"
    routerLinkActive="font-bold"
    class="py-4 text-lg hover:bg-gray-700 transition"
  >
    Detection
  </a>
  <a
    routerLink="/specification"
    routerLinkActive="font-bold"
    class="py-4 text-lg hover:bg-gray-700 transition"
  >
    Specification
  </a>
  <a
    routerLink="/results"
    routerLinkActive="font-bold"
    class="py-4 text-lg hover:bg-gray-700 transition"
  >
    Results
  </a>
</nav>
